<!-- Preloader -->
<div class="mat-spinner-container" *ngIf="!dataService">
  <div class="spinner-inner"><mat-spinner></mat-spinner></div>
</div>

<div *ngIf="dataService && !ociClosed" class="container" id="login-container">
  <div class="row justify-content-md-center align-self-center">
    <div class="col-12 col-md-6">
      <div class="login-form-container">
        <h2 class="text-center">Welcome</h2>

        <p>
          Please log in to begin or continue the Online Check-In for The
          Rexall&trade; OneWalk to Conquer Cancer&trade;. You can modify your information, make self-pledges and more!
        </p>

        <form id="ssoForm" [formGroup]="loginForm">
          <div class="form-group">
            <mat-form-field class="mat-input">
              <input
                required
                matInput
                placeholder="Enter your username"
                [(ngModel)]="dataService.username"                
                [errorStateMatcher]="matcher"
                formControlName="username"
              />
              <!-- <button mat-button *ngIf="dataService.username" matSuffix mat-icon-button aria-label="Clear" (click)="dataService.username=''">
									    <mat-icon>close</mat-icon>
									</button> -->

              <mat-error *ngIf="loginForm.invalid">
                Username is required.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="mat-input">
              <input
                required
                matInput
                [type]="hide ? 'password' : 'text'"
                placeholder="Enter your password"
                [(ngModel)]="dataService.password"                
                [errorStateMatcher]="matcher"
                formControlName="password"
              />
              <mat-icon matSuffix (click)="hide = !hide">{{
                hide ? 'visibility' : 'visibility_off'
              }}</mat-icon>
              <mat-error *ngIf="loginForm.invalid">
                Password is required.
              </mat-error>
            </mat-form-field>
          </div>
          <button
            mat-raised-button
            color="accent"
            [disabled]="loginForm.invalid"
            (click)="dataService.logMeIn()"
          >
            Login
          </button>
          <a
            class="fgpass"
            href="https://secure.onewalk.ca/site/UserLogin?CMD=ForgotPassword"
          >
            Forgot Password?
          </a>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="dataService && ociClosed" class="container" id="login-container">
  <div class="row justify-content-md-center align-self-center">
    <div class="col-12 col-md-6">
      <div class="login-form-container">
        <h3 class="text-center"> ONLINE CHECK-IN IS NOW CLOSED</h3>
        <br />
        <p class="text-center">Check the <a href="https://toronto19.onewalk.ca/event-details/">Event Details</a> page for more information. </p>
      </div>
    </div>
  </div>
</div>